

#bar-chart {
    width: 100% !important;
    // height: 68vh;
    min-width: 120px;
    display: block;
    transition: all .2s ease-out;
}

.height_100 {
    height: 100%;
}

.height_68vh {
    height: 68vh;
    min-height: 400px;
}
  