
#bar-chart {
    // flex: 1;
    height: 68vh;
    min-height: 400px;
    width: 100% !important;
    min-width: 120px;
    display: block;
    transition: all .2s ease-out;
    // background-color: blue;
}
  