.main-content1 {
    width: 100%;
    justify-content: space-between;

}
#container-cac-1 {
    flex: 1.8;  
    transition: all .2s ease-out;
    width: 100% !important;
    min-width: 340px;
    display: block;
}
#container-cac-2 {
    flex: 1;
    height: 68vh;
    min-height: 400px;
    transition: all .2s ease-out;
    width: 100% !important;
    min-width: 340px;
    display: block;
}


.height_100 {
    height: 100%;
    min-height: 380px;
}

.height_68vh {
    height: 68vh;
    min-height: 400px;
}
  